<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular CRUD</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container" ng-app="angleCRUD" ng-controller="angleCRUDctrl">
    <h1>Angular CRUD</h1>

    <form id="addContact">
      <div class="form-group col-xs-4">
        <label for="Name">Name</label>
        <input type="text" class="form-control" ng-model="newContact.name"placeholder="John Doe">
      </div>
      <div class="form-group col-xs-4">
        <label for="email">Email address</label>
        <input type="email" class="form-control" ng-model="newContact.email"placeholder="Email">
      </div>
      <div class="form-group col-xs-4">
        <label for="Phone">Phone</label>
        <input type="text" class="form-control" ng-model="newContact.phone"placeholder="867-5309">
      </div>
      <div class="btnContainer">
        <button class="btn btn-default btn-info" ng-click="addContact()">Add Contact</button>
      </div>
    </form>

    <form id="filterForm">
      <div class="form-group">
        <input type="text" ng-model="filterText" class="form-control" placeholder="Search...">
      </div>
    </form>

    <div class="modal fade" role="dialog" id="modEditContact">
      <div class="modal-dialogue">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title">Editing {{modalEditField}}:</h4>
          </div>
          <div class="modal-body">
            <p>Current value: {{modalEditValue}}</p>
            <form>
              <div class="form-group">
                <label>{{modalEditField}}:</label>
                <input type="text" class="form-control" placeholder={{modalEditValue}} ng-model="newFieldValue">
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-success" id="updateContact">Update Contact</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <table class="table" id="contactList" ng-if="contacts.length > 0" ng-cloak>
      <tbody>
        <tr>
          <th ng-repeat="(key, value) in contacts[0] track by $index">{{key.substr(0,1).toUpperCase() + key.substr(1)}}</th>
          <th>Remove</th>
        </tr>
        <tr ng-repeat="(key, contact) in contacts | filter:filterText track by $index">
          <td ng-repeat="(field, value) in contact" ng-dblclick="editContact($index)">{{value}}</td>
          <td>
            <button class="btn btn-default btn-danger btn-sm" ng-click="removeContact()">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
